# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\C++_Code\Algorithm\LinerAlgebra\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
